$font-baloo : "Baloo Thambi 2" , cursive;
$font-raleway : "Raleway" , cursive;
$font-rubik : "Rubik" , cursive;
$font-eduvic: "Edu VIC WA NT Beginner", cursive;
$color-primary: #315c20;
$color-second : #79B861;
$color-yellow: #FFD289;
